@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: var(--bodyBg);
}


:root {
  /* color */
      --bodyBg: #E0E2E6;
      --navButtonFocus: #333333;
      --primaryText: #111111;
      --secondaryText:#F5F5F5;
      --primaryHover:#F14F44;
      --secondaryHover:#F0F2F4;
  /* border radius  */
}